# Data files
DataPreprocess/FinalData/X_dataset.csv
DataPreprocess/FinalData/Y_dataset.csv
DataPreprocess/RawData/air_raids_output.csv

# PyTorch checkpoints (ignore all except the best model)
AlertModel/checkpoints/*
!AlertModel/checkpoints/best-lstm-alert-model.ckpt

# Python caching
**/__pycache__/
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/